@import "toolkit.scss";
@import "colors.scss";

.main {
  @include flex;
  background: $backColor1;
  color: $textWhite;
  padding: 10px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 5px;

  .logo {
    font-family: "DynaPuff", cursive;
    font-size: 30px;
    font-weight: bold;
    margin-right: 10px;
    @include flex;
  }
  .location {
    select {
      color: $textWhite;
      @include outline;
    }
    option {
      @include outline;
    }
  }
  .search {
    color: $textWhite;
    input[type="search"],
    button {
      @include outline;
      color: $textWhite;
    }
    ::-webkit-input-placeholder {
      color: $textWhite;
    }
  }
  .language {
    color: $textWhite;
    select,
    option {
      color: $textWhite;
      @include outline;
    }
  }
  .login {
    button {
      color: $textWhite;
      @include outline;
    }
  }
  .add {
    button {
      color: $textWhite;
      @include outline;
    }
  }
}
